<style>
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');
</style>
/*This is a comment*/
/* CSS Syntax:
selector {
	property:value;
	property:value;
}
*/

/* Type Selector */
p { /* select all <p> */
	font-size:1em;
	line-height:1.5em;
 }

 figcaption {
 	/*font-weight: normal;
 	font-size: 0.75em;
 	line-height: 1.5em;
 	font-family: Georgia, "New Times Roman", serif;*/
 	font: normal 0.75em/1.5em font-family: 'Elsie Swash Caps', cursive;
 	color: #777;
 	text-align: right;
 }

/*  class Selector (applied to as many elements as you'd like) */

.milk-text { /*select elements with class="milk-text" */
	font: bold 2.6em 'Elsi Swash Caps', cursive;
	color: white;
	text-shadow: 0 2px 3px #000;
}

/* ID Selector (apply to one unique element per page */

#logo { /* select elements with the ID = logo */
	background: aqua;
}

/* Descendent Selector*/
#logo h1 { /* Only style h1 if inside ID logo */
	font-family: 'Clicker Script', cursive;
}

#logo h2 {
	font-family: 'Elsie Swash Caps', curvise;
}

/* Psuedo Class Selectors */
#details a:link, #details a:visited{
	color: black;
	text-decoration: none;
}

#details a:hover{
	color: black;
	text-decoration: underline;
}

#details a:active{
	color: red;
}

